.button{
    padding-top: 12px;
    border: 1px solid #fff;  
    background-image: url(./vocabulary.png);
    background-position: top ;
    background-repeat: no-repeat;
    background-color: #fff;
    
    margin-top: 3px;
    position: fixed;
    left: 35%;
    color: #FFBB24;;
    width: 100px;
    height: 50px;
    outline: none;
    
  
}

.modal{
    position: absolute;
    width: 886px;
    height: 550px;
    background-color: #FFFFFF;
    border: 1px solid #bdbfc2;
    border-radius: 15px;
    margin-left: 310px;
    margin-top: 110px;
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  
    
  }
  
.modalHeader{
position: fixed;
width: 343px;
height: 32px;
left: 736px;
top: 117px;
background: #5A79B4;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
border-radius: 15px;
font-family: Calibri;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 106.84%;
text-align: center;
letter-spacing: 0.03em;
color: #FFFFFF;
outline: none;
  }
  
  .learnNow{
    position: absolute;
    width: 285px;
    height: 36px;
    left: 10px;
    top: 10%;
    
    background: #5A79B4;
        
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    
    background-repeat: no-repeat;
    background-position: center ;
    
    outline: none;
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 21px;
    text-align: left;
    padding-left: 20px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }
 

 
  .hr{
    border: 1px solid  #FFBB24;
    background-color: #FFBB24;
    width: 50px;
    margin-left: 18px;
    border-radius: 10px;
    margin-top: -16px;
  }

  .button:focus
.hr{
  visibility: visible;
}
.button:active,
.hr{
  visibility:visible;
}

.button:disabled,
.hr{
  visibility: hidden;
}
.h3{
font-family: Calibri;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 106.84%;
margin-left: 10%;
letter-spacing: 0.03em;
color: #254E97;
margin-top: 15px;
}

.hr1{
  border: 1px solid  #5A79B4;
  background-color: #5A79B4;
    width: 31%;
    margin-left: 15px;
    border-radius: 10px;
    margin-top: -15px;

}
 

.vl{
  
  border-left: 2px solid #bdbfc2;
  background-color: #bdbfc2;
  height: 100%;
  position: absolute;
  left: 35%;
  margin-left: -3px;
  top: 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);

}