
  .modal{
    position: fixed;
    width: 500px;
    height: 420px;
    left: 32%;
    top: 130px;
    background-color: #FFFFFF;
    border: 1px solid #bdbfc2;
    border-radius: 15px;
          
    outline: none;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      }
  
    .modalHeader{
    position: fixed;
    width: 270px;
    height: 47.19px;
    left: 600px;
    top: 162.16px;
    
    background: #5A79B4;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  
    }
    .headerText{
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 106.84%;
    margin-top: 10px;
    }
      
   .ok{
    position: absolute;
    background: #6ACA9C;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    width: 60px;
    height: 60px;
    border: 1px solid #6ACA9C;
    border-radius: 50px;
   
    background-repeat: no-repeat;
    background-position: center ;
    margin-top: 260px;
    margin-left: 220px;
    outline: none;
  }
    .text{
      position: absolute;
      margin-left: 95px;
      margin-top: 180px;
      width: 60%;
      height: 45px;
      font-family: Calibri;
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 106.84%;
      letter-spacing: 0.03em;
      color: #000000;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
      border-radius: 20px;
      outline: none;
    }
    
      .hr{
        border: 1px solid  #47A4F1;
        background-color: #47A4F1;
        width: 50px;
        margin-left: 20px;
        border-radius: 10px;
        margin-top: -15px;
      }
  
      .button:focus
    .hr{
      visibility: visible;
    }
    .button:active,
    .hr{
      visibility:visible;
    }
  
    .button:disabled,
    .hr{
      visibility: hidden;
    }
    
    