.travell{
    height: 125px;
    background-color: #90B4F8;;
    border-radius: 20px;
    margin: 20px;
    margin-top: 30px;
    color: white;
   padding-top: 20px; 
}
.travell h2{
    text-align: center;
    position: relative;
    bottom: 105px;
    margin-left: 110px;
    text-decoration: none;
}
.travell img{
    width: 100px;
    background-color: white;
    border-radius: 15px;
    margin-left: 30px;
    margin-top: 5px;
}
