
    .inpt1{
    position: fixed;
    width: 325px;
    height: 50px;
    left: 580px;
    top: 245px;

    background: #FFFFFF;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.03em;
    color: #254E97;
    }
    .inpt2{
    position: absolute;
    width: 325px;
    height: 50px;
    left: 580px;
    top: 325px;
    
    background: #FFFFFF;
       
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;

    letter-spacing: 0.03em;
    color: #254E97;
}

    .layer1{
        margin-left: 1200px;
        margin-top: 150px;
    }
    .layer2{
        margin-top: -500px;
        margin-left: 50px;
    }
    .logo{
    position: fixed;
    left: 33%;
    right: 30.55%;
    top: 5.28%;
    bottom: 75.28%;

    background: #FFFFFF;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    }
    .login{
    position: fixed;
    background: #AADC1E;
    margin-left: 675px;
    margin-top: -200px;
    width: 170px;
    height: 40px;
    outline: none;
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;

    text-align: center;
    letter-spacing: 0.03em;

    color: #FFFFFF;

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    }
    .registration{
    position: fixed;
    width: 300px;
    height: 17px;
    left: 640px;
    top: 400px;
    font-family: Calibri;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 17px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.04em;
    color: #254E97;
    }